<div id="<%= dom_id review %>">
  <p>
    <strong>Coffee:</strong>
    <%= review.coffee_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= review.comments %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

</div>
